<html>
	<head>
		<title>NYCDA Docs</title>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/js-cookie/2.1.4/js.cookie.min.js"></script>

		<script>
			$(document).ready(function() {
				var $text = $("#doc-text");

				$text.on("input", function(event) {
					Cookies.set("document", event.target.value);
				});
			});
		</script>

	</head>
	<body>
		<form method="post" id="doc-form">
			<textarea name="text" id="doc-text"><%- document %></textarea>
			<div></div>
			<button>Submit!</submit>
		</form>
	</body>
</html>
